
.recent-work {
   @overlay-height: 250px;
   background: rgb(35, 36, 41);
   background-size: cover;
   color: #fff;
   .recent-work-item {
      @media (min-width: @screen-sm-min) {
      .make-md-column(4);
      .make-lg-column(4);
   }
      overflow: hidden;
      .overlay {
         position: relative;
         top: @overlay-height;
         height: @overlay-height;
         background: rgba(0, 3, 28, 0.2);
         color: #fff;
         .overlay-inner {
            position: relative;
            //padding: 1px;
         }
         .transition(all .3s ease-in-out);
         h4 {
            padding-top: 15px;
            font-size: 1.2em;
         }
         p {
            font-size: 0.7em;
         }
      }
      &:hover {
         .overlay {
            top: 0;
            background: rgba(0, 3, 28, 0.9);
            //opacity: 0.7;
         }
      }
   }
}
/*
.recent-work {
   h2 {
      background: #A4B3BF;
      color: #fff;
      margin: 0;
      padding: 40px;
      display: none;
   }
   padding: 0;
   margin: 0;
   .container {
      padding: 0;
      margin: 0;
   }
   

   .recent-work-item{
      
      width: 33.3333%;
      padding: -100px;
      background: #fff;
      overflow: hidden;
      float: left;
      //margin: 0;
      //padding: 0;
      //height: 350px;
      img {
         position: relative;
         top: 0;
         width: 100%;
         .transition(all .7s ease-in-out);
         &:hover{
          //  width: 120%;
            //margin: -7%;
         }
      }   
      .overlay{
         position: relative;
         bottom: 0;
         z-index: 10;
         background: rgb(35, 36, 41,0.7);
      }
   }


}

*/