.recent-work {
   @overlay-height: 220px;
   background: #17BB9B url(/assets/img/pattern-blurred.jpg);
   background-size: cover;
   color: #fff;
   .recent-work-item {
      .make-sm-column(12);
      .make-md-column(4);
      .make-lg-column(4);
      overflow: hidden;
      .overlay {
         position: relative;
         top: @overlay-height;
         height: @overlay-height;
         background: rgba(0, 3, 28, 0.2);
         color: #fff;
         .overlay-inner {
            position: relative;
            //padding: 1px;
         }
         .transition(all .3s ease-in-out);
         h4 {
            padding-top: 15px;
            font-size: 1.2em;
         }
         p {
            font-size: 0.7em;
         }
      }
      &:hover {
         .overlay {
            top: 0;
            background: rgba(0, 3, 28, 0.9);
            //opacity: 0.7;
         }
      }
   }
}


#quotes {background-color: #fff; text-align: center; position: relative;}
#quotes blockquote {font-size: 16px; margin-bottom: 5px;}
#quotes a.author {color: #394042;text-transform: uppercase; font-family: 'Gotham-Book', sans-serif; letter-spacing: 1px;}

#quotes hr {margin-top:35px; margin-bottom: 35px; width: 50px; border-top: 0; border-right: 0; border-left:0; border-bottom: 1px solid #EEEEEE;}

#quotes ul {text-align: center;}

/* flexslider style */
ul.flex-direction-nav li { overflow: auto; }
ul.flex-direction-nav li a { 9display: inline-block; position: absolute;}
ul.flex-direction-nav li a.flex-prev { left: 100px; top: 50%;}
ul.flex-direction-nav li a.flex-next { right: 100px; top: 50%;}

ul.flex-direction-nav li a:before{
   font-family: "icon" !important;
   font-style: normal !important;
   font-weight: normal !important;
   font-variant: normal !important;
   text-transform: none !important;
   line-height: 1;
   font-size: 25px;
   display: inline-block;
}

.flexslider ul.flex-direction-nav li a.flex-next:before {
   content: "\e001"; 
}

.flexslider ul.flex-direction-nav li a.flex-prev:before {
   content: "\e000"; 
}

ul.flex-direction-nav li a.flex-prev:hover,
ul.flex-direction-nav li a.flex-next:hover {
   color: #394042;
}
