<html ng-app="app">

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title ng-bind="appPageTitle">Zeeshan Raza</title>
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
   <style type="text/css">
   body {
      padding: 0;
      margin: 0;
   }
   .loader {
      position: fixed;
      height: 100%;
      width: 100%;
      color: #00B877;
      z-index: 1000;
      background: #E2E2E2;
      -webkit-animation-duration: 0.0s;
          animation-duration: 0.0s;
   }
   .spinner {
      top: 40%;
      width: 40px;
      height: 40px;
      position: relative;
      margin: 0 auto;
   }
   .double-bounce1,
   .double-bounce2 {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #00B877;
      opacity: 0.6;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-animation: bounce 2.0s infinite ease-in-out;
      animation: bounce 2.0s infinite ease-in-out;
   }
   .double-bounce2 {
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s;
   }
   @-webkit-keyframes bounce {
      0%, 100% {
         -webkit-transform: scale(0.0)
      }
      50% {
         -webkit-transform: scale(1.0)
      }
   }
   @keyframes bounce {
      0%, 100% {
         transform: scale(0.0);
         -webkit-transform: scale(0.0);
      }
      50% {
         transform: scale(1.0);
         -webkit-transform: scale(1.0);
      }
   }
   </style>

</head>

<body ng-init="showNav=false" style="background:#E2E2E2;">
   <!--[if lt IE 8]><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->

   <div class="loader" ng-class="{'hidden':loaded}">

      <div ng-if="!loaded" class="spinner">
         <div class="double-bounce1"></div>
         <div class="double-bounce2"></div>
      </div>

   </div>

   <div class="content" ng-class="loaded?'animated fadeIn':'hidden'">
      <section class="navigation" ng-hide="!showNav" ng-class="showNav?'animated fadeInDown':'animated fadeOutUp'">
         <!--<button class="btn btn-clear" ng-click="showNav=false"><i class="icon-cancel"></i>
      </button>-->
         <ul class="main-menu">
            <li><a href="/" title="Projects I've worked on">Work</a>
            </li>
            <li><a href="about" title="Learn more about me">About</a>
            </li>
            <li><a href="contact" title="Let's get in touch">Contact</a>
            </li>
         </ul>
      </section>

      <div class="main-bg" style="background: url('/assets/img/2.jpg') top left no-repeat;background-size: cover;" fit-height>
         <div class="dotted-overlay"></div>
      </div>


      <section class="introduction" fit-height>
         <span class="brand"><i class="icon-logo"></i>
         </span>

         <button class="btn btn-rounded btn-clear btn-nav" ng-class="{'close':showNav}" ng-click="showNav=!showNav">
            <span></span>
         </button>



         <div class="container">
            <h1 class="headline animated first fadeInDown">I build websites and apps
               <strong>with an eye for detail.</strong>
            </h1>
            <h2 class="subhead">Crafting beautiful digital experiences, driven by creativity
               <strong>since 2001</strong>
            </h2>
            <div>
               <a href="#recent-work" du-smooth-scroll class="btn-lg btn btn-primary animated third fadeInUp" style="font-size:1.2em">WHAT I DID RECENTLY</a>
            </div>
            <div class="scroll-down animated third pulse">
               <i class="icon-down-open-big "></i>
            </div>

         </div>

      </section>

      <section class="recent-work" ng-controller="WorkCtrl">
         <a name="recent-work"></a>
         <h2>Recent Work</h2>
         <!--
         <div class="container">
         I have founded design and coded follow mobile HTML5 hybrid Apps using AngularJS, ionicframework, Gulp and Bower.
         </div>
         -->
         <div class="recent-work-item" ng-repeat="work in works">
            <div style="background: url({{work.preview}})  no-repeat;background-size: cover ">
               <div class="overlay">
                  <div class="overlay-inner">
                     <h4>{{work.title}}</h4>
                     <p>{{work.what}}</p>
                     <a href="#">View Project</a>
                  </div>
               </div>
            </div>
         </div>
      </section>

      <section class="skills">
         <div class="container">
            <h2>Skills &amp; Certification</h2>

            <ul>
               <li>
                  <span>Agile / Scrum
                  </span>
               </li>
               <li>
                  <span>Hybrid App development
                  </span>
               </li>
               <li>
                  <span>Web Applications
                  </span>
               </li>
               <li>
                  <span>JavaScript / NodeJs
                  </span>
               </li>
               <li>
                  <span>AngularJs / jQuery
                  </span>
               </li>
               <li>
                  <span>Gulp / Grunt / Bower
                  </span>
               </li>
               <li>
                  <span>LESS / CSS / HTML5
                  </span>
               </li>
               <li>
                  <span>Cloud / DBaaS / REST
                  </span>
               </li>
               <li>
                  <span>PhoneGap / Cordova
                  </span>
               </li>
               <li>
                  <span>Appcelerator Titanium
                  </span>
               </li>
               <li>
                  <span>PHP / Zend Framework
                  </span>
               </li>
               <li>
                  <span>Java
                  </span>
               </li>
               <li class="certification">
                  <span>Certified Scrum Master
                     <img src="/assets/img/scrum.png" />
                  </span>
               </li>
               <li class="certification">
                  <span>Certified PHP developer
                     <img src="http://www.zend.com/topics/php5-zce-logo-new.gif" />
                  </span>

               </li>

            </ul>

            <h2></h2>
            <ul>

            </ul>

         </div>
      </section>

      <section class="work-experience">
         <h2>Work Experience</h2>
         <ul class="timeline">

            <!-- Item 1 -->
            <li>
               <div class="direction-r">
                  <div class="flag-wrapper">
                     <span class="flag">Development Manager</span>
                  </div>

                  <div class="detail">
                     <h3>Euromoney Institutional Investor</h3>
                     <span>2013 - present</span>
                     <p>Managing onshore and offshore development teams using scrum methodology, this role has 50% of devlopment and 50% management. Streamline front-end devlopmet process using moderen technloigies Gulp, Bower, JSHint and others</p>
                  </div>

               </div>
            </li>

            <!-- Item 2 -->
            <li>
               <div class="direction-l">
                  <div class="flag-wrapper">
                     <span class="flag">Systems Developer</span>
                  </div>

                  <div class="detail">
                     <h3>Structured Retail Products</h3>
                     <span>June 2008 – April 2012</span>
                     <p>Managing onshore and offshore development teams using scrum methodology, this role has 50% of devlopment and 50% management. Streamline front-end devlopmet process using moderen technloigies Gulp, Bower, JSHint and others</p>
                  </div>
               </div>
            </li>

            <!-- Item 3 -->
            <li>
               <div class="direction-r">
                  <div class="flag-wrapper">
                     <span class="flag">Web Developer</span>
                  </div>

                  <div class="detail">
                     <h3>Saudi Oger Limited</h3>
                     <span>November 2004 – April 2008</span>
                     <p>Managing onshore and offshore development teams using scrum methodology, this role has 50% of devlopment and 50% management. Streamline front-end devlopmet process using moderen technloigies Gulp, Bower, JSHint and others</p>
                  </div>
               </div>
            </li>

            <li>
               <div class="direction-l">
                  <div class="flag-wrapper">
                     <span class="flag">Sr. Software Engineer</span>
                  </div>

                  <div class="detail">
                     <h3>Tower Technologies (Pvt.) Limited</h3>
                     <span>April 2001 – November 2004</span>
                     <p>Managing onshore and offshore development teams using scrum methodology, this role has 50% of devlopment and 50% management. Streamline front-end devlopmet process using moderen technloigies Gulp, Bower, JSHint and others</p>
                  </div>
               </div>
            </li>

         </ul>
      </section>



      <section class="testimonials">
         <a name="testimonials"></a>
         <div class="container">
            <h3>Testimonials</h3>

            <ul ng-controller="TestimonialCtrl">
               <li ng-repeat="testimonial in testimonials">
                  <blockquote>{{testimonial.what}}</blockquote>
                  <span>{{testimonial.who}} <i>Head of Technology</i>
                  </span>
               </li>

            </ul>
         </div>
      </section>


      <section class="contact" fit-height style="overflow:hidden;">
         <span class="brand"><i class="icon-logo"></i>
         </span>
         <div class="container">

            <div class="contact-top">
               <div class="contact-info">
                  <h2>Contact me</h2>
                  <p>Interested in working together or just want to say hello?
                     <br>Drop me a line.</p>

                  <hr>
                  <div itemscope itemtype="http://schema.org/Person">
                     <span class="name-schema" itemprop="name">
                        <span class="fn">Zeeshan Raza</span>
                     </span>
                     <ul>
                        <span itemprop="address">
                           <li>London, United Kindom</li>
                        </span>
                        <span itemprop="telephone">
                           <li>++44 7411435522</li>
                        </span>
                        <li><a href="mailto:hello@zeeshan.me" title="drop a line" itemprop="email">hello@zeeshan.me</a>
                        </li>
                     </ul>
                  </div>
               </div>



               <div class="contact-form">
                  <form id="form" method="post" action="">
                     <div class="form">
                        <div class="name">
                           <input tabindex="1" name="Name" id="name" type="text" placeholder="Name (*)" />
                        </div>

                        <div class="email">
                           <input tabindex="2" name="email" id="email" type="text" placeholder="Email (*)" />
                        </div>
                        <div>
                           <textarea name="message" cols="10" rows="5" id="message" placeholder="Your message here..."></textarea>
                        </div>
                        <br />
                        <button class="btn-lg btn btn-primary">SEND</button>
                     </div>
                  </form>

                  <div id="response"></div>

               </div>
            </div>

            <ul class="social">
               <li><a href="#"><i class="icon-github-circled"></i></a>
               </li>
               <li><a href="#"><i class="icon-linkedin"></i></a>
               </li>
               <li><a href="#"><i class="icon-twitter"></i></a>
               </li>

            </ul>

         </div>
      </section>
   </div>
   <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
   
   <!-- inject:vendor:css -->

   <link rel="stylesheet" href="/animate.css/animate.css">

   <!-- endinject -->
   <!-- inject:css -->
   <link rel="stylesheet" href="/css/app.css">
   <link rel="stylesheet" href="/css/modules/default/views/styles/error.css">
   <link rel="stylesheet" href="/styles/css/animation.css">
   <link rel="stylesheet" href="/styles/css/fontello.css">
   <!-- endinject -->

   <!-- inject:vendor:js -->
   <script src="/angular/angular.js"></script>
   <script src="/angular-route/angular-route.js"></script>
   <script src="/angular-scroll/angular-scroll.min.js"></script>
   <!-- endinject -->
   <!-- inject:js -->
   <script src="/modules/default/bootstrap.js"></script>
   <script src="/modules/default/controllers/List.js"></script>
   <script src="/modules/default/controllers/Error.js"></script>
   <script src="/modules/default/directives.js"></script>
   <script src="/modules/default/controllers.js"></script>
   <script src="/app.js"></script>
   <script src="/app-templates.js"></script>
   <!-- endinject -->
   <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
   <script>
   (function(b, o, i, l, e, r) {
      b.GoogleAnalyticsObject = l;
      b[l] || (b[l] =
         function() {
            (b[l].q = b[l].q || []).push(arguments)
         });
      b[l].l = +new Date;
      e = o.createElement(i);
      r = o.getElementsByTagName(i)[0];
      e.src = '//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e, r)
   }(window, document, 'script', 'ga'));
   ga('create', 'UA-XXXXX-X');
   ga('send', 'pageview');
   </script>
</body>

</html>
